body{
	background-image: url("../images/space.jpeg");
	background-size: 100%;
}
.solarSystem{
	margin: 100px auto;
	width: 500px;
	height: 500px;
	animation-name: rotateClockwise;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.earthSystem{
	width: 20%;
	height: 20%;
	animation-name: rotateAntiClockwise;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.sun{
	width: 40%;
	height: 40%;
	margin-top: 10%;
	margin-left: 30%;
	animation-name: rotateAntiClockwise;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.earth{
	width: 40%;
	height: 40%;
	margin-top: 10%;
	margin-left: 30%;
	animation-name: rotateClockwise;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.moon{
	width: 20%;
	height: 20%;
	margin: 0px;
	display: block;
	animation-name: rotateClockwise;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes rotateClockwise {
	0% 		{transform: rotate(0deg);}
	100% 	{transform: rotate(360deg);}
}
@keyframes rotateAntiClockwise {
	0% 		{transform: rotate(0deg);}
	100% 	{transform: rotate(-360deg);}
}